.Subscribe{
    background-color: rgb(203, 0, 0);
    color: white;
    border: none;
    height: 30px;
    width: 85px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    transition: opacity .2s;
  }

  .Subscribe:hover{
    opacity:.8;
  }

    .Subscribe:active{
        opacity: .5;
    }

  .Join{
    background-color: white;
    color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    border-style: solid;
    border-radius: 2px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color .3s ,
      color .3s;
  }

  .Join:hover{
    background-color: rgb(0, 123, 255);
    color: white;
  }

  .Join:active{
    opacity:.6;
  }

  .Tweet{
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 150px;
    font-weight: 100;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow .5s;
  }

  .Tweet:hover{
      box-shadow: .5px .5px 5px .15px;
  }
  
  .button3{
    color: white;
    font-size: 15px;
    background-color: rgb(31, 143, 254);
    width: 65px;
    height: 30px;
    border-color: rgb(31, 143, 254);
    border-style: solid;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color .2s, color .2s, font-weight .2s;
  }

  .button3:hover{
    background-color: rgb(235, 245, 255);
    color:rgb(31, 143, 254);
    font-weight: bold;
    
  }
